<div class="about-title">
  <h1>About helput</h1>
</div>

<section class="about-post">
  <div class="about-post__container">

    <div class="about-post__heading">
      <h1>学習したことをアウトプット・共有</h1>
    </div>

    <div class="about-post__post-content">
      <div class="about-post__post-content--left-content">
      <p>
        学習したことはアウトプットすることが大切です。
        <br>
        <br>
        helputでは学習したことを投稿することでアウトプットを行うことができます。
        <br>
        <br>
        投稿した記事をメンバーに見てもらうことで自分が学習したことを共有することができます。
        <br>
        <br>
        共有して自分の理解度を知ってもらいましょう。
      </p>
      </div>

      <div class="about-post__post-content--right-content">
        <%= image_tag asset_path('about-post.jpg'), :size => '700x450' %>
      </div>
    </div>
  </div>
</section>

<section class="about-event">
  <div class="about-event__container">

    <div class="about-event__heading">
      <h1>予定表で離れていても相手の状況を一目で確認</h1>
    </div>

    <div class="about-event__event-content">
      <div class="about-event__event-content--left-content">
        <%= image_tag asset_path('about-event.jpg'), :size => '650x450' %>
      </div>

      <div class="about-event__event-content--right-content">
        <p>
          リモートワークのコミュニケーションで困ることが相手の状況が<br>わからないということです。
          <br>
          <br>
          helputの予定表を使えば、離れていても相手のスケジュールが<br>一目で確認することができます。
          <br>
          <br>
          相手の状況がわかることでコミュニケーションを円滑にします。
        </p>
      </div>
    </div>
  </div>
</section>

<section class="about-chat">
  <div class="about-chat__container">

    <div class="about-chat__heading">
      <h1>わからないことはチャットで質問</h1>
    </div>

    <div class="about-chat__chat-content">
      <div class="about-chat__chat-content--left-content">
      <p>
        リモートワークではわからないことを質問することも一苦労です。
        <br>
        <br>
        チャット機能を使用すれば、離れていても簡単に質問することができます。
        <br>
        <br>
        わからないことはチャット積極的に質問しましょう。
      </p>
      </div>

      <div class="about-chat__chat-content--right-content">
        <%= image_tag asset_path('chats.jpg'), :size => '700x450' %>
      </div>
    </div>
  </div>
</section>

<div class="about-end">
  <div class="about-end__registration">
    <p>
      さあ、今すぐhelputを始めよう！
    </p>
    <%= link_to new_user_registration_path do %>
      <button>新規会員登録</button>
    <% end %>
  </div>

</div>