<div class="top">
  <div class="top__introduction">
    <p>
      リモートワークでコミュニケーションに困っている全ての方へ
      <br>
      helputはあなたのリモートでの学習と仕事をサポートします。
    </p>
    <div class="top__introduction--about-link">
    <%= link_to homes_about_path do %>
      <button>helputについて</button>
    <% end %>
    </div>
  </div>
    
  <div class="top__start-form">
    <div class="top__start-form--message">
      <p>さあ、いますぐhelputを始めよう！</p>
    </div>
    
    <div class="top__start-form--registration">
      <%= link_to new_user_registration_path do %>
        <button>新規会員登録</button>
      <% end %>
    </div>
    
    <div class="top__start-form--session">
      <%= link_to new_user_session_path do %>
        <button>ログイン</button>
      <% end %>
    </div>
  </div>
</div>