<div class="user-follower">

  <%= render partial: 'users/users/user', locals: { user: @user, post: @post, isRoom: @isRoom, roomId: @roomId, room: @room, userRoom: @userRoom } %>
  
  <div class="user-follower__my-follower">
    
    <div class="user-follower__my-follower--heading">
      <h1>
        <i class="fas fa-users"></i>
        フォロワー
      </h1>
    </div>
    
    <div class="user-follower__my-follower--index">
      <div class="follower-user-info">
        <% @followers.each do |follower| %>
        
          <div class="follower-user-info__user-name">
            <p>
              <%= attachment_image_tag follower, :profile_image, :fill, 40, 40, format: 'jpg', class: "img-circle profile-img", fallback: "no_image.jpg", size: "40x40" %>
              <%= link_to follower.name, user_path(follower.id) %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
    
    <div class="follower-user-info__paginate">
      <%= paginate @followers %>
    </div>
    
  </div>
</div>