
<div class="unsubscribe">
  <h1>本当に退会しますか？</h1>
  <p>退会すると全てのサービスが利用できなくなります。</p>
  
  <div class="unsubscribe__confirm-btn">
    <div class="unsubscribe__confirm-btn--yes">
      <%= link_to '退会する', user_withdraw_path(current_user.id), method: :patch, "data-confirm" => "本当に退会しますか？", class: "yes-btn" %>
    </div>
    <div class="unsubscribe__confirm-btn--no">
      <%= link_to '退会しない',  user_path(current_user.id), class: "no-btn" %>
    </div>
  </div>
</div>