// Place all the styles related to the admins::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 投稿一覧と検索結果のcssを共有
.ad-post-index {
    width: 65%;
    background-color: white;
    // 中央に配置するために左右にautoを指定
    margin: 50px auto 70px auto;
    &__heading {
      h1 {
        text-align: center;
      }
    }
    
    &__index {
      padding: 20px;
     .ad-post-info {
        align-items: center;
        padding: 10px 0;
        &__user-name {
          margin: 15px 0;
          border-top: 3px solid #CCCCCC;
          padding-top: 10px;
          p {
            font-size: 24px;
            :hover {
              color: black;
              text-decoration: underline;
            }
            :active {
              color: black;
              text-decoration: underline;
            }
            :visited {
              color: black;
            }
            :link {
              color: black;
            }
          }
        }
        
        &__paginate {
          text-align: center;
        }
     }
   }
  }
