// 投稿一覧と検索結果画面で共通で使用
.post-search {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
  &__result {
    width: 60%;
    margin: 0 0 50px 30px;
    background-color: white;
    padding: 24px;
    
    h1 {
      text-align: center;
    }
    
    // 自分の投稿一覧の表示部分のレイアウト
    &--search-bar {
      width: 800px;
      display: flex;
      justify-content: flex-end;
      margin-top: 45px;
    }
    
    &--index {
     .search-result {
        align-items: center;
        padding: 10px 0;
        article {
          margin: 15px 0;
          border-top: 3px solid #CCCCCC;
          padding-top: 10px；
        }
        &__post-title {
          p {
            font-size: 24px;
            :hover {
              color: black;
              text-decoration: underline;
            }
            :active {
              color: black;
              text-decoration: underline;
            }
            :visited {
              color: black;
            }
            :link {
              color: black;
            }
          }
        }
        
        &__paginate {
          text-align: center;
        }
     }
   }
  }
}