<div class="ad-user-index">
    
    <div class="ad-user-index__heading">
      <h1>
        <i class="fas fa-users"></i>
        ユーザー一覧
      </h1>
    </div>
    
    <div class="ad-user-index__index">
      <div class="ad-user-info">
        <% @users.each do |user| %>
        
          <div class="ad-user-info__user-name">
            <p>
              <%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpg', class: "img-circle profile-img", fallback: "no_image.jpg", size: "40x40" %>
              <%= link_to user.name, admins_user_path(user.id) %>
            </p>
          </div>
        <% end %>
      </div>
      <div class="ad-user-info__paginate">
        <%= paginate @users %>
      </div>
    </div>
    
  </div>


