.ad-profile {
  width: 25%;
  text-align: center;
  background-color: white;
  height: 450px;
  
  &__image {
    padding: 20px 0;
  }
  &__user-name {
    p {
      font-size: 24px;
    }
  }
  
  .ad-user-status {
    margin-left: auto;
    margin-right: auto;
    p {
      font-size: 16px;
      :hover {
        color: #666666;
        text-decoration: underline;
      }
      :active {
        color: #666666;
        text-decoration: underline;
      }
      :visited {
        color: #666666;
      }
      :link {
        color: #666666;
      }
    }
  }
} 

  .ad-user-status {
    p {
      font-size: 18px;
      :hover {
        color: #666666;
        text-decoration: underline;
      }
      :active {
        color: #666666;
        text-decoration: underline;
      }
      :visited {
        color: #666666;
      }
      :link {
        color: #666666;
      }
    }
    &__flag-btn {
      margin-top: 24px;
    }
  }


