.user-show {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
  &__user-profile {
    width: 25%;
    text-align: center;
  }
  &__post-index {
    width: 60%;
    margin-left: 30px;
    background-color: white;
    #tab-menu {
      display: flex;
    }
    #tab-menu li {
      list-style-type: none;
    }
    #tab-menu li a {
      color: #fff;
      text-decoration: none;
      display: block;
      padding: 20px;
      text-align: center;
      background: #000;
      border: 1px solid #000;
      border-bottom: none;
    }
    #tab-menu .active {
      background: #2996CC;
      color: #fff;
    }
    #tab-index {
      display: flex;
      flex-wrap: wrap;
    }
    #tab-index .tab {
      // width: 100%;
      // padding: 30px;
      background: #fff;
      // border: 1px solid #000;
      // border-top: none;
    }
    // 自分の投稿一覧の表示部分のレイアウト
    .tab {
      width: 800px;
      &__post-search {
        display: flex;
        justify-content: flex-end;
      }
      &__my-posts {
        text-align: center;
      }
    }
  }
}


