.unsubscribe {
  background-color: white;
  text-align: center;
  height: 600px;
  width: 900px;
  margin: 60px auto 60px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__confirm-btn {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    .yes-btn {
       display: inline-block;
       text-align: center;
       border: 1px solid red;
       font-size: 2.5rem;
       background-color: red;
       color: white;
       text-decoration: none;
       font-weight: bold;
       padding: 8px 16px;
       border-radius: 10px;
       transition: .4s;
       width : 250px;
       height: 50px;
       margin-right: 5px;
      }
    .yes-btn:hover {
       background-color: white;
       border-color: red;
       color: red;
    }
    .no-btn {
       display: inline-block;
       text-align: center;
       border: 1px solid blue;
       font-size: 2.5rem;
       background-color: blue;
       color: white;
       text-decoration: none;
       font-weight: bold;
       padding: 8px 16px;
       border-radius: 10px;
       transition: .4s;
       width : 250px;
       height: 50px;
       margin-left: 5px;
      }
    .no-btn:hover {
       background-color: white;
       border-color: blue;
       color: blue;
    }
  }
}