<!--ルーティング設定が完了するまではトップ画面をパスに指定-->
<div class="ad-top">
  
  <div class="ad-top__users">
    <h3>現在のユーザー数 <%= link_to @users.count, admins_users_path %></h3>
  </div>
  
  <div class="ad-top__posts">
    <h3>現在の投稿数 <%= link_to @posts.count, admins_homes_path %></h3>
  </div>
</div>
<%= link_to '管理者登録', new_admins_admin_registration_path %>