/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@import 'froala_editor.min';
@import 'froala_style.min';
@import 'plugins/char_counter.min';
@import 'plugins/code_view.min';
@import 'plugins/colors.min';
@import 'plugins/emoticons.min';
@import 'plugins/file.min';
@import 'plugins/fullscreen.min';
@import 'plugins/image_manager.min';
@import 'plugins/image.min';
@import 'plugins/line_breaker.min';
@import 'plugins/quick_insert.min';
@import 'plugins/table.min';
@import 'plugins/video.min';

@import 'third_party/embedly.min.css';
@import 'third_party/image_tui.min.css';
@import 'third_party/spell_checker.min.css';



header {
  background-color: black;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  .header-title {
    display: flex;
    justify-content: flex-start;
    h1 {
      font-size: 60px;
      color: white;
      text-decoration: none;
    }
    :hover {
      text-decoration: none;
      color: white;
    }
    :active {
      text-decoration: none;
      color: white;
    }
    :visited {
      text-decoration: none;
      color: white;
    }
    :link {
      text-decoration: none;
      color: white;
    }
  }

  nav {
    margin-left: auto;
  }

  .header-list {
    list-style: none;
    display: flex;
    text-align: right;
    &__header-item {
      padding-right: 30px;
      font-size: 18px;

      :visited {
        text-decoration: none;
        color: white;
      }
      :link {
        text-decoration: none;
        color: white;
      }
    }
  }

  #hamburger-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    opacity: 0;
    visiblity: hidden;
    transition: opacity .5s, visibility .5s;
    z-index: 99;
     ul {
      padding-top: 80px;
      margin-left: auto;
      li {
        list-style: none;
        font-size: 30px;
        text-decoration: none;
        width: 100%;
        padding: 15px;
        text-align: center;
        color: white;
        p {
          padding: 20px;
          // link_to部分にのみ適用
          :link {
            // text-decoration: none;
            color: black;
          }
          // link_to部分にのみ適用
          :visited {
            // text-decoration: none;
            color: black;
          }
          // &でp要素全体に適用
          &:hover {
            background-color: black;
            // link_to部分にのみ適用
            a {
              color: white;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  // ハンバーガーメニューをクリックした時に表示されるメニューのCSS
  #hamburger-nav.show {
    opacity: 1;
    visibility: visible;
    background-color: white;
  }

  // ハンバーガーアイコンのCSS
  #hamburger-icon {
    display: block;
    position: relative;
    width: 50px;
    height: 44px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
    z-index: 99;
    span {
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: white;
      transition: transform .5s, opacity .5s;
      border-radius: 4px;
    }
    span:nth-child(1) {
      top: 0;
    }
    span:nth-child(2) {
      top: 0;
      bottom: 0;
      margin: auto;
    }
    span:nth-child(3) {
      bottom: 0px;
    }
  }

  // ハンバーガーアイコンをクリックしたときに適用される
  #hamburger-icon.show span:nth-child(1) {
    transform: translateY(20px) rotate(-45deg);
    background-color: black;
  }
  #hamburger-icon.show span:nth-child(2) {
    opacity: 0;
    background-color: black;
  }
  #hamburger-icon.show span:nth-child(3) {
    transform: translateY(-20px) rotate(45deg);
    background-color: black;
  }

}


body {
  background-color: #F5F5F5;
  position: relative;
}

footer {
  background-color: black;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
	bottom: 0;
  .footer-text {
    color: white;
  }
}