// Place all the styles related to the users::likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// font-awesomeのハートアイコンの色を変更
.fa-heart {
  color: red;
}

// フォロー・フォロワーマークの色を変更
.fa-users {
  color: #2996CC;
}

.fa-pencil-alt {
  color: #005500;
}

.fa-calendar-alt {
  color: #000044;
}

.fa-edit {
  color: #FF570D;
}

.fa-clock {
  color: #222222;
}