// Place all the styles related to the users::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
 background-image: image-url("top_image.jpg");
 background-size: cover;
 width: 100%;
 height: 900px;
 color: white;
 display: flex;

  &__introduction {
   width: 40%;
   height: 600px;
   margin: 250px 0 0 100px;
   text-align: center;
   p {
    font-size: 2.4rem;
   }
   &--about-link {
    margin-top: 80px;
    button {
     display: inline-block;
     text-align: center;
     border: 1px solid black;
     font-size: 2.5rem;
     background-color: #FF9933;
     color: white;
     text-decoration: none;
     font-weight: bold;
     padding: 8px 16px;
     border-radius: 10px;
     transition: .4s;
     width : 250px;
     height: 50px;
    }
    button:hover {
     background-color: white;
     border-color: #FF9933;
     color: #FF9933;
    }
   }
  }

  &__start-form {
   background-color: rgba(128,128,128,0.6);
   height: 600px;
   width: 40%;
   text-align: center;
   margin: 60px 0 0 150px;
   border-radius: 50px;
   &--message {
    font-size: 4rem;
    padding-top: 200px;
   }
   &--registration {
    padding-top: 80px;
    button {
     display: inline-block;
     text-align: center;
     border: 1px solid black;
     font-size: 2.5rem;
     background-color: #009999;
     color: white;
     text-decoration: none;
     font-weight: bold;
     padding: 8px 16px;
     border-radius: 10px;
     transition: .4s;
     width : 250px;
     height: 50px;
    }
    button:hover {
     background-color: white;
     border-color: #009999;
     color: #009999;
    }
   }
   &--session {
    padding-top: 50px;
    button {
     display: inline-block;
     text-align: center;
     border: 1px solid black;
     font-size: 2.5rem;
     background-color: #009999;
     color: white;
     text-decoration: none;
     font-weight: bold;
     padding: 8px 16px;
     border-radius: 10px;
     transition: .4s;
     width : 250px;
     height: 50px;
     }
    button:hover {
     background-color: white;
     border-color: #009999;
     color: #009999;
    }
   }
  }

}